
.container{
    display: flex;
    flex-direction: column;
    margin: 0 10%;

}
.containerForms{
    width: 100%;
    margin-bottom: 10rem;
} 
.submitBtn{
    width: 100%;
    height: auto;
    margin: 2rem 0;
}

.container1, .container2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.item{
    width:100%;
    height: auto;
}

@media(min-width: 768px){
    .container{
        margin: 0 25%;
    }
}